@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;700&display=swap');

:root {
    --md-admonition-icon--signature: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M8.78 4.97a.75.75 0 0 1 0 1.06L2.81 12l5.97 5.97a.75.75 0 1 1-1.06 1.06l-6.5-6.5a.75.75 0 0 1 0-1.06l6.5-6.5a.75.75 0 0 1 1.06 0zm6.44 0a.75.75 0 0 0 0 1.06L21.19 12l-5.97 5.97a.75.75 0 1 0 1.06 1.06l6.5-6.5a.75.75 0 0 0 0-1.06l-6.5-6.5a.75.75 0 0 0-1.06 0z"/></svg>');
    --md-adminition-icon--signature-constant: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M7.22 14.47 9.69 12 7.22 9.53a.75.75 0 1 1 1.06-1.06l3 3a.75.75 0 0 1 0 1.06l-3 3a.75.75 0 0 1-1.06-1.06z"/><path fill-rule="evenodd" d="M3.75 2A1.75 1.75 0 0 0 2 3.75v16.5c0 .966.784 1.75 1.75 1.75h16.5A1.75 1.75 0 0 0 22 20.25V3.75A1.75 1.75 0 0 0 20.25 2H3.75zM3.5 3.75a.25.25 0 0 1 .25-.25H15v17H3.75a.25.25 0 0 1-.25-.25V3.75zm13 16.75v-17h3.75a.25.25 0 0 1 .25.25v16.5a.25.25 0 0 1-.25.25H16.5z"/></svg>');
    --md-adminition-icon--signature-property: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M4 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm4.75-1.5a.75.75 0 0 0 0 1.5h11.5a.75.75 0 0 0 0-1.5H8.75zm0 6a.75.75 0 0 0 0 1.5h11.5a.75.75 0 0 0 0-1.5H8.75zm0 6a.75.75 0 0 0 0 1.5h11.5a.75.75 0 0 0 0-1.5H8.75zM5 12a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-1 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/></svg>');
    --md-adminition-icon--signature-interface: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M10.75 6.5a.75.75 0 0 0 0 1.5h6.5a.75.75 0 0 0 0-1.5h-6.5zM6 7.25a.75.75 0 0 1 .75-.75h.5a.75.75 0 0 1 0 1.5h-.5A.75.75 0 0 1 6 7.25zm4 9a.75.75 0 0 1 .75-.75h6.5a.75.75 0 0 1 0 1.5h-6.5a.75.75 0 0 1-.75-.75zm-3.25-.75a.75.75 0 0 0 0 1.5h.5a.75.75 0 0 0 0-1.5h-.5z"/><path fill-rule="evenodd" d="M3.25 2A1.75 1.75 0 0 0 1.5 3.75v7c0 .372.116.716.314 1a1.742 1.742 0 0 0-.314 1v7c0 .966.784 1.75 1.75 1.75h17.5a1.75 1.75 0 0 0 1.75-1.75v-7c0-.372-.116-.716-.314-1 .198-.284.314-.628.314-1v-7A1.75 1.75 0 0 0 20.75 2H3.25zm0 9h17.5a.25.25 0 0 0 .25-.25v-7a.25.25 0 0 0-.25-.25H3.25a.25.25 0 0 0-.25.25v7c0 .138.112.25.25.25zm0 1.5a.25.25 0 0 0-.25.25v7c0 .138.112.25.25.25h17.5a.25.25 0 0 0 .25-.25v-7a.25.25 0 0 0-.25-.25H3.25z"/></svg>');
    --md-adminition-icon--signature-trait: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M7.875 2.292a.125.125 0 0 0-.032.018A7.24 7.24 0 0 0 4.75 8.25a7.247 7.247 0 0 0 3.654 6.297c.57.327.982.955.941 1.682v.002l-.317 6.058a.75.75 0 1 1-1.498-.078l.317-6.062v-.004c.006-.09-.047-.215-.188-.296A8.747 8.747 0 0 1 3.25 8.25a8.74 8.74 0 0 1 3.732-7.169 1.547 1.547 0 0 1 1.709-.064c.484.292.809.835.809 1.46v4.714a.25.25 0 0 0 .119.213l2.25 1.385c.08.05.182.05.262 0l2.25-1.385a.25.25 0 0 0 .119-.213V2.478c0-.626.325-1.169.81-1.461a1.547 1.547 0 0 1 1.708.064 8.74 8.74 0 0 1 3.732 7.17 8.747 8.747 0 0 1-4.41 7.598c-.14.081-.193.206-.188.296v.004l.318 6.062a.75.75 0 1 1-1.498.078l-.317-6.058v-.002c-.041-.727.37-1.355.94-1.682A7.247 7.247 0 0 0 19.25 8.25a7.24 7.24 0 0 0-3.093-5.94.125.125 0 0 0-.032-.018l-.01-.001c-.003 0-.014 0-.031.01-.036.022-.084.079-.084.177V7.19a1.75 1.75 0 0 1-.833 1.49l-2.25 1.385a1.75 1.75 0 0 1-1.834 0l-2.25-1.384A1.75 1.75 0 0 1 8 7.192V2.477c0-.098-.048-.155-.084-.176a.062.062 0 0 0-.031-.011l-.01.001z"/></svg>');
}

.md-content .signature {
    padding: 0;
    margin-bottom: 12px;
    box-sizing: border-box;
    border-left-color: #cceeff;
    background: inherit;
}

.md-content .signature p {
    margin-left: 10px;
}

.md-content .signature dl {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
}

.md-content .signature dl dt {
    background: inherit;
    flex-basis: 20%;
    flex-grow: 0;
    text-align: right;
    border-top: 0;
    border-right: 2px solid #999999;
    margin: 0 0 6px 0;
    line-height: 24px;
    color: #999999;
    font-size: 14px;
    padding-right: 5px;
    padding-top: 7px;
    font-family: "Source Code Pro";
}

.md-content .signature dl dd {
    flex-basis: 80%;
    flex-grow: 0;
    padding-left: 15px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin: 0 0 6px 0;
    font-size: 14px;
    background: inherit;
    word-wrap: anywhere;
    font-family: "Source Code Pro";
}

.md-content .signature dl dd ul {
    margin-bottom: 0 !important;
}

.md-content .signature .admonition-title {
    background: inherit;
    font-family: 'Source Code Pro';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    border-bottom: 0;
    border-left: 0;
    padding-bottom: 5px;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 6px;
}

.md-content .signature .admonition-title::before {
    margin-right: 25px;
    margin-left: 0;
    color: #00c853;
    position: relative;
    top: 6px;
    font-size: 24px;
    width: 24px;
}

.md-typeset .signature > .admonition-title::before,
.md-typeset .signature > summary::before {
    background-color: #00c853;
    -webkit-mask-image: var(--md-admonition-icon--signature);
    mask-image: var(--md-admonition-icon--signature);
}

.md-typeset .signature.constant > .admonition-title::before,
.md-typeset .signature.constant > summary::before {
    background-color: #00c853;
    -webkit-mask-image: var(--md-adminition-icon--signature-constant);
    mask-image: var(--md-adminition-icon--signature-constant);
}

.md-typeset .signature.property > .admonition-title::before,
.md-typeset .signature.property > summary::before {
    background-color: #00c853;
    -webkit-mask-image: var(--md-adminition-icon--signature-property);
    mask-image: var(--md-adminition-icon--signature-property);
}

.md-typeset .signature.interface > .admonition-title::before,
.md-typeset .signature.interface > summary::before {
    background-color: #00c853;
    -webkit-mask-image: var(--md-adminition-icon--signature-interface);
    mask-image: var(--md-adminition-icon--signature-interface);
}

.md-typeset .signature.trait > .admonition-title::before,
.md-typeset .signature.trait > summary::before {
    background-color: #00c853;
    -webkit-mask-image: var(--md-adminition-icon--signature-trait);
    mask-image: var(--md-adminition-icon--signature-trait);
}