@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;700&display=swap');

.md-tabs__link {
    background-color: var(--md-default-fg-color);
    color: var(--md-default-bg-color);
    border: 5px solid var(--md-default-fg-color);
    padding: 20px 5px;
    margin-top: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.md-tabs__link--active {
    background-color: var(--md-default-bg-color);
    color: var(--md-default-fg-color);
    border: 5px solid var(--md-default-bg-color);
    font-weight: bold;
}

.md-tabs__link--active:hover {
    color: var(--md-default-fg-color--light);
}

.md-content .signature {
    padding: 0;
    margin-bottom: 12px;
    box-sizing: border-box;
    border-left-color: #cceeff;
    background: inherit;
}

.md-content .signature p {
    margin-left: 10px;
}

.md-content .signature dl {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
}

.md-content .signature dl dt {
    background: inherit;
    flex-basis: 20%;
    flex-grow: 0;
    text-align: right;
    border-top: 0;
    border-right: 2px solid #999999;
    margin: 0 0 6px 0;
    line-height: 24px;
    color: #999999;
    font-size: 14px;
    padding-right: 5px;
    padding-top: 7px;
    font-family: "Source Code Pro";
}

.md-content .signature dl dd {
    flex-basis: 80%;
    flex-grow: 0;
    padding-left: 15px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin: 0 0 6px 0;
    font-size: 14px;
    background: inherit;
    word-wrap: anywhere;
    font-family: "Source Code Pro";
}

.md-content .signature dl dd ul {
    margin-bottom: 0 !important;
}

.md-content .signature .admonition-title {
    background: inherit;
    font-family: 'Source Code Pro';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    border-bottom: 0;
    border-left: 0;
    padding-bottom: 5px;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 6px;
}

.md-content .signature .admonition-title::before {
    content: "";
    font-family: "FontAwesome";
    margin-right: 25px;
    margin-left: 0;
    color: #00c853;
    position: relative;
    top: 6px;
    font-size: 20px;
    width: 20px;
}

.md-content .signature.constant .admonition-title::before {
    content: "";
    color: #00c853;
}

.md-content .signature.property .admonition-title::before {
    content: "";
    color: #00c853;
}

.md-content .signature.interface .admonition-title::before {
    content: "";
    color: #00c853;
}

.md-content .signature.trait .admonition-title::before {
    content: "";
    color: #00c853;
}
