<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        backupGlobals="false"
        backupStaticAttributes="false"
        bootstrap="tests/bootstrap.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="true"
        stopOnFailure="false"
        beStrictAboutOutputDuringTests="true"
        timeoutForSmallTests="2"
        timeoutForMediumTests="15"
        timeoutForLargeTests="60"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory suffix=".php">./src/Samsara/Fermat</directory>
    </include>
    <report>
      <clover outputFile="build/logs/coverage.clover"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Providers">
      <directory suffix=".php">./tests/Samsara/Fermat/Provider</directory>
    </testsuite>
    <testsuite name="Types">
      <directory suffix=".php">./tests/Samsara/Fermat/Types</directory>
    </testsuite>
    <testsuite name="Values">
      <directory suffix=".php">./tests/Samsara/Fermat/Values</directory>
    </testsuite>
    <testsuite name="Factories">
      <file>tests/Samsara/Fermat/NumbersTest.php</file>
    </testsuite>
  </testsuites>
  <logging/>
</phpunit>
