.codehilite {
    background: rgba(0, 0, 0, 0.05);
}

.rst-content .admonition {
    padding: 12px;
    line-height: 24px;
    margin-bottom: 24px;
    background: rgba(0, 0, 0, 0.05);
    border-left: 5px solid #000000;
    border-radius: 3px;
    box-shadow: 0 .2rem .5rem rgba(0,0,0,.05),0 0 .05rem rgba(0,0,0,.1);
}

.rst-content .note {
    background: inherit;
}

.rst-content .note .admonition-title {
    background: inherit;
    color: #FFFFFF;
}

.rst-content .note .admonition-title::before {
    content: "";
}

.rst-content .caution {
    background: inherit;
}

.rst-content .caution .admonition-title {
    background: inherit;
    color: #FFFFFF;
}

.rst-content .caution .admonition-title::before {
    content: "";
}

.rst-content .tip {
    background: inherit;
}

.rst-content .tip .admonition-title {
    background: inherit;
    color: #FFFFFF;
}

.rst-content .tip .admonition-title::before {
    content: "";
}

.rst-content .example {
    background: inherit;
}

.rst-content .example .admonition-title {
    background: inherit;
    color: #FFFFFF;
}

.rst-content .example .admonition-title::before {
    content: "";
}

.rst-content .warning {
    background: inherit;
}

.rst-content .warning .admonition-title {
    background: inherit;
    color: #FFFFFF;
}

.rst-content .warning .admonition-title::before {
    content: "";
}

.rst-content .danger {
    background: inherit;
}

.rst-content .danger .admonition-title {
    background: inherit;
    color: #FFFFFF;
}

.rst-content .danger .admonition-title::before {
    content: "";
}

.rst-content .see-also {
    background: inherit;
}

.rst-content .see-also .admonition-title {
    background: inherit;
    color: #FFFFFF;
}

.rst-content .see-also .admonition-title::before {
    content: "";
}

.rst-content .potential-bugs {
    border-color: #ff33b1;
    color: #000000;
}

.rst-content .potential-bugs .admonition-title {
    background: #ffe6f6;
    color: #333333;
}

.rst-content .potential-bugs .admonition-title::before {
    content: "";
    color: #ff33b1;
}