@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;700&display=swap');

.codehilite {
    background: rgba(0, 0, 0, 0.05);
}

code {
    font-family: "Source Code Pro";
    font-weight: 500;
    background: #333;
    color: #EEE;
    font-size: 95%;
}

li code {
    background: inherit;
    color: inherit;
    font-weight: 700;
    border: none;
    padding: inherit;
}

ul.subnav li span.caption-text {
    padding-left: 2.618em;
}

ul.subnav ul.subnav ul {
    margin-left: 1em;
}

h1 {
    background: #FFFFFF;
    border-left: 5px solid #000000;
    border-bottom: 5px solid #000000;
    border-radius: 3px;
    color: #333333;
    padding: 2px 12px;
    box-shadow: 0 0 .5rem rgba(0,0,0,.15),0 0 .05rem rgba(0,0,0,.25);
}

h2 {
    background: #FFFFFF;
    border-left: 5px solid #000000;
    border-radius: 3px;
    color: #333333;
    padding: 0 12px;
    box-shadow: 0 0 .5rem rgba(0,0,0,.15),0 0 .05rem rgba(0,0,0,.25);
}

h3 {
    border-bottom: 3px solid rgba(0, 0, 0, 0.45);
}

h4 {
    font-variant-caps: all-small-caps;
}

h6 {
    font-family: 'Source Code Pro';
    font-weight: 500;
    font-size: 16px;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
}

h6::before {
    content: "";
    font-family: "FontAwesome";
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    text-decoration: inherit;
    font-size: 16px;
    margin-right: 4px;
    color: #00c853;
}

.rst-content .admonition {
    padding: 12px;
    line-height: 24px;
    margin-bottom: 24px;
    background: #FFFFFF;
    border-left: 5px solid #000000;
    border-radius: 3px;
    box-shadow: 0 0 .5rem rgba(0,0,0,.15),0 0 .05rem rgba(0,0,0,.25);
    color: #000000;
}

.rst-content .admonition p:last-child {
    margin-bottom: 0;
}

.rst-content .admonition-title {
    color: #333333;
}

.rst-content .note {
    border-color: #00bfa5;
}

.rst-content .note .admonition-title {
    background: #ddFFEE;
}

.rst-content .note .admonition-title::before {
    content: "";
    color: #00bfa5;
}

.rst-content .caution {
    border-color: #ffa733;
}

.rst-content .caution .admonition-title {
    background: #ffeed9;
}

.rst-content .caution .admonition-title::before {
    content: "";
    color: #ffa733;
}

.rst-content .tip {
    border-color: #00c853;
}

.rst-content .tip .admonition-title {
    background: #CCFFDD;
}

.rst-content .tip .admonition-title::before {
    content: "";
    color: #00c853;
}

.rst-content .example {
    border-color: #8b33ff;
}

.rst-content .example .admonition-title {
    background: #e9d9ff;
}

.rst-content .example .admonition-title::before {
    content: "";
    color: #8b33ff;
}

.rst-content .warning {
    border-color: #ffa733;
}

.rst-content .warning .admonition-title {
    background: #ffeed9;
}

.rst-content .warning .admonition-title::before {
    content: "";
    color: #ffa733;
}

.rst-content .danger {
    border-color: #ff3344;
}

.rst-content .danger .admonition-title {
    background: #ffe6e8;
}

.rst-content .danger .admonition-title::before {
    content: "";
    color: #ff3344;
}

.rst-content .see-also {
    border-color: #338fff;
}

.rst-content .see-also .admonition-title {
    background: #d9ebff;
}

.rst-content .see-also .admonition-title::before {
    content: "";
    color: #338fff;
}

.rst-content .potential-bugs {
    border-color: #ff33b1;
}

.rst-content .potential-bugs .admonition-title {
    background: #ffe6f6;
}

.rst-content .potential-bugs .admonition-title::before {
    content: "";
    color: #ff33b1;
}

.tabbed-set {
    display: flex;
    position: relative;
    flex-wrap: wrap;
}

.tabbed-set .highlight {
    background: #ddd;
}

.tabbed-set .tabbed-content {
    display: none;
    order: 99;
    width: 100%;
}

.tabbed-set label {
    width: auto;
    margin: 0 0.5em;
    padding: 0.25em;
    font-size: 120%;
    cursor: pointer;
}

.tabbed-set input {
    position: absolute;
    opacity: 0;
}

.tabbed-set input:nth-child(n+1) {
    color: #333333;
}

.tabbed-set input:nth-child(n+1):checked + label {
    color: #FF5252;
}

.tabbed-set input:nth-child(n+1):checked + label + .tabbed-content {
    display: block;
}